{% extends 'mangareader/layout.html' %}
{% load static %}

{% block title %}
    List View
{% endblock %}

{% block css-link %}
    <link rel="stylesheet" href="{% static 'collection-details-list.css' %}" type="text/css">
{% endblock %}

{% block body %}
    <div class="collections-tab">
        {% for collection in collections %}
        <a href="{% url 'collection-detail' collection.pk %}" class="collection-tab-item">{{collection.name}}</a>
        <!-- <button class="tablinks" value={{collection.name}} onclick="change_showed_collection(this.value)">{{collection.name}}</button> -->
        {% empty %}
        <h5>No Collections</h5>
        {% endfor %}
    </div>

    <div class="collection-container">
        <p id="collection-id" hidden>{{collection.pk}}</p>
        <a href="" class="collection-name" id="collection-name">{{collection.name}}</a>
        <i id="editBtn" class="fa-solid fa-pen-to-square edit-icon"></i>
        <i id="delBtn" class="fa-solid fa-trash del-icon"></i>
    </div>

    <div id="confirmationModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Are you sure you want to delete this collection?</p>
            <br>
            <form action="{% url 'dashboard' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" value="{{collection.pk}}" name="delete-col">
                <input type="submit" value="Yes" class="yes-btn">
                <a href="#" class="edit-collection-button no-btn">No</a>
            </form>
        </div>
    </div>

    <div class="collection-progressbar-container">
        <h4 class="collection-progressbar-label">[<span id="completed-questions-collection-count">{{collection.completed}}</span> / {{collection.total}}]</h4>
        <progress id="collection-progressbar" class="collection-progressbar" value={{collection.completed}} max={{collection.total}}></progress>
    </div>

    <a href="{% url 'collection-update' collection.pk %}" class="add-questions-button">Add questions</a>

    <hr class="linebreak">

    <a href="{% url 'collection-detail' collection.pk %} %}" class="topic-view-btn">Topic View</a>

    <div class="selectbox-container">
        <select id="selectbox" onchange="changeOrder(this)">
            <option value="name">Alphabetical Increasing</option>
            <option value="-name">Alphabetical Decreasing</option>
            <option value="difficulty_level">Difficulty Increasing</option>
            <option value="-difficulty_level">Difficulty Decreasing</option>
        </select>
        <div class="icon-container">
            <i class="fa-solid fa-caret-down"></i>
        </div>
    </div>

    <div class="topic-table-container">
        <table class="topic-table">
            <tr>
                <th>Question</th>
                <th>Difficulty</th>
                <th>Topic</th>
                <th>Completed</th>
                <th></th>
            </tr>
            {% for question in collection.questions_sorted_list %}
                <tr>
                    <td>{{question.name}} <a href="{{question.link}}" target="_blank"><i class="fa-solid fa-link"></i></a></td>
                    <td class="question-difficulty-{{question.difficulty}}">{{question.difficulty}}</td>
                    <td>{{question.topic}}</td>
                    <td>
                        {% if question.complete == True %}
                            <input type="checkbox" value="{{question.pk}}" class="custom-checkbox" checked>
                        {% else %}
                            <input type="checkbox" value="{{question.pk}}" class="custom-checkbox">
                        {% endif %}
                    </td>
                    <td>
                        <form action="{% url 'delete-question-from-collection' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="format" value="list">
                            <input type="hidden" name="question_id" value="{{question.pk}}">
                            <input type="hidden" name="collection_id" value="{{collection.pk}}">
                            <input type="hidden" name="order" value="{{order}}">
                            <!-- <input type="submit" value="Delete" class="yes-btn"> -->
                            <button type="submit" class="del-question-icon">
                                <i id="delBtn" class="fa-solid fa-trash del-icon"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            {% empty %}
                <h3>No questions</h3>
            {% endfor %}
        </table>    
    </div>

    <script>

        var modal = document.getElementById("confirmationModal");
        var btn = document.getElementById("delBtn");
        var span = document.getElementsByClassName("close")[0];
        var noBtn = document.getElementsByClassName("no-btn")[0];

        btn.onclick = function() {
            modal.style.display = "block";
        }

        span.onclick = function() {
            modal.style.display = "none";
        }

        noBtn.onclick = function() {
            modal.style.display = "none";
        }

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        var order = "{{order}}"
        
        window.onload = function() {
            var select = document.getElementById("selectbox")
            for (var i, j = 0; i = select.options[j]; j++) {
                if (i.value == order) {
                    select.selectedIndex = j
                }
            }     
        }
    
        function changeOrder(selectObject) {
            order = selectObject.value
            var url = "{% url 'collection-detail-list' collection.pk 'difficulty' %}".replace("difficulty", order)
            console.log(url)
            window.location.replace(url)
        }

        let checkboxes = document.getElementsByClassName("custom-checkbox");
        for (let i = 0; i < checkboxes.length; i++) {
            checkboxes[i].addEventListener("click", function() {
                //alert()
                let collectionProgressbar = document.getElementById("collection-progressbar");
                let completedQuestionCollectionCount = document.getElementById("completed-questions-collection-count");
                //console.log(collectionProgressbar.value)
                if (checkboxes[i].checked == true) {
                    collectionProgressbar.value = (parseInt(collectionProgressbar.value) + 1) + '';
                    completedQuestionCollectionCount.innerText = (parseInt(completedQuestionCollectionCount.innerText) + 1) + '';
                } else {
                    collectionProgressbar.value = (parseInt(collectionProgressbar.value) - 1) + '';
                    completedQuestionCollectionCount.innerText = (parseInt(completedQuestionCollectionCount.innerText) - 1) + '';
                }
            });
        }

        $('.custom-checkbox').change(function(){
            var token = '{{csrf_token}}';
            $.ajax("{% url 'collection-post-db' %}", {
                type: "POST",
                headers: { "X-CSRFToken": token },
                data: {id: $(this).val()}
            });
        })

        let collectionName = document.getElementById('collection-name')
        let editBtn = document.getElementById('editBtn')
        editBtn.addEventListener("click", function () {
            collectionName.contentEditable = "true";
            collectionName.focus();
        })

        collectionName.addEventListener('input', function() {
            let newName = $('#collection-name').html();
            let collectionID = $('#collection-id').html();

            var token = '{{csrf_token}}';
            $.ajax("{% url 'collection-post-namechange' %}", {
                type: "POST",
                headers: { "X-CSRFToken": token },
                success: function(response) {
                    console.log(response)
                },
                data: {
                    id: collectionID,
                    newName: newName
                }
            });
            //console.log(collectionID)
        });

    </script>
{% endblock %}


