.page-title {
    color: #403D58;
    text-align: center;
    margin-top: 30px;
}

.collection-name {
    color: #403D58;
}

.topic-table {
    font-family: Arial, Helvetica, sans-serif;
    width: 60%;
    table-layout: fixed;
    border-collapse: collapse;
    margin: 30px auto 0 auto;
}

.topic-table th {
    border: solid lightgray;
    text-align: center;
    background-color: #66D7D1;
    color: #403D58;
    padding: 10px;
}

.topic-table td {
    border: 0.1px solid #ddd;
    padding: 7px;
}

.topic-table .question-difficulty-Easy {
    color: green;
}

.topic-table .question-difficulty-Medium {
    color: #ffa116;
}

.topic-table .question-difficulty-Hard {
    color: red;
}

.submit-btn {
    margin-top: 30px;
    margin-left: 287px;
    margin-bottom: 30px;
    width: 70px;
    text-decoration: none;
    background-color: #403D58;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
    text-align: center;
}